
.classpath

*.launch

.project

.settings/.jsdtscope

*.name

*.prefs

*.MF

target/m2e-wtp/web-resources/META-INF/maven/org.svats.ams/ams/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/org.svats.ams/ams/pom.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.common.component
