<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../external/bootstrap/css/social-buttons.css" media="all" />
    	<link rel="stylesheet" type="text/css" href="../external/bootstrap/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="../external/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../external/jquery/css/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/ams.main.css">
		<title>Associate Educational Details</title>
		<style type="text/css">
			.required:after {
			    color: #e32;
			    content: ' *';
			    display:inline;
			}
		</style>
	</head>
	<body>
		<BR>
		<table class="table table-bordered table-hover" align="center" style="width: 40%; max-width: 100%;">
		<caption>Associate Educational Details</caption>
		<tbody>	
			<tr>
				<th><label class="required">:</label></th>
				<td><input></td>
			</tr>
			<tr style="height:1px">
				<td colspan="2"></td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<input type="button" class="btn btn-success" value="Add New">
					<a class="btn btn-success" href="education.html" role="button"><-Personal</a>
					<input type="button" class="btn btn-success" value="Save">
					<input type="button" class="btn btn-success" value="Next->">
				</td>
			</tr>
		</tbody>
		</table>
	</body>
</html>