<!DOCTYPE html>
<html>
	<hrad>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/ams.main.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
		<title>Proffessional Experience Details</title>
	</hrad>
	<body>
		<BR>
		<table class="table table-bordered table-hover" align="center" style="width: 40%; max-width: 100%;">
		<caption>Proffessional Experience Details</caption>
		<tbody>	
			<tr>
				<td>Join Date:</td>
				<td><input id="joinDate"></td>
			</tr>	
			<tr>
				<td>Job Title:</td>
				<td><input></td>
			</tr>	
			<tr>
				<td>Join Date:</td>
				<td><input></td>
			</tr>
			<tr style="height:1px">
				<td colspan="2"></td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<a class="btn btn-success" href="education.html" role="button"><-Education</a>
					<input type="button" class="btn btn-success" value="Add Previous Experience">
					<input type="button" class="btn btn-success" value="Save">
					<a class="btn btn-success" href="h1.html" role="button">H1-></a>
				</td>
			</tr>
		</tbody>
		</table>

		<script src="../js/jquery-1.11.2.min.js"></script>
		<script src="../js/jquery-ui.js"></script>
		<script>
		  $(function() {
		    $("#joinDate").datepicker();
		  });
		</script>
	</body>
</html>