
</div>
	<footer>
		<div class="container">
			<div align="center">&copy;Copyright by SVATS. All Rights Reserved.</div>
			<div align="center">
			<a class="btn btn-social-icon btn-adn"><i class="fa fa-adn">adn</i></a>
			<a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
			<a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
			<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
			<a class="btn btn-social-icon btn-foursquare"><i class="fa fa-foursquare"></i></a>
			<a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
			<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
			<a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
			<a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
			<a class="btn btn-social-icon btn-microsoft"><i class="fa fa-windows"></i></a>
			<a class="btn btn-social-icon btn-openid"><i class="fa fa-openid"></i></a>
			<a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
			<a class="btn btn-social-icon btn-reddit"><i class="fa fa-reddit"></i></a>
			<a class="btn btn-social-icon btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
			<a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
			<a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-social-icon btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
			<a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
			<a class="btn btn-social-icon btn-yahoo"><i class="fa fa-yahoo"></i></a>
			</div>
		</div>
	</footer>
	<script src="../external/jquery/js/jquery-2.1.3.min.js"></script>
	<script src="../external/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/ams-main.js"></script>