<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link href="../external/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all" />
	<link href="../css/ams.main.css" rel="stylesheet" media="all" />
</head>
<body>
	<header>
	    <div class="container clearfix">
	        <nav>
	            <a id="profile" class="btn" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
	            <ul class="dropdown-menu" role="menu" aria-labelledby="profile">
                	<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                	<li role="presentation"><a role="menuitem" tabindex="-1" href="index.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
	        </nav>
	        <a id="logo">
	            LOGO
	        </a>
	    </div>
	</header>
	<div id="main-content" class="container">
		<div class="table-container">
			<h3>H1 Filing Alerts</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>H1B End Date</th>
						<th>Email</th>
						<th>Client</th>
						<th>Account Manager</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Consultant1</a></td>
						<td>12/20/2014</td>
						<td>consultant1@test.com</td>
						<td>Client1</td>
						<td>Manager1</td>
					</tr>
					<tr>
						<td><a href="#">Consultant2</a></td>
						<td>12/20/2014</td>
						<td>consultant2@test.com</td>
						<td>Client2</td>
						<td>Manager2</td>
					</tr>
					<tr>
						<td><a href="#">Consultant3</a></td>
						<td>12/20/2014</td>
						<td>consultant3@test.com</td>
						<td>Client3</td>
						<td>Manager3</td>
					</tr>
					<tr>
						<td><a href="#">Consultant4</a></td>
						<td>12/20/2014</td>
						<td>consultant4@test.com</td>
						<td>Client4</td>
						<td>Manager4</td>
					</tr>
					<tr>
						<td><a href="#">Consultant5</a></td>
						<td>12/20/2014</td>
						<td>consultant5@test.com</td>
						<td>Client5</td>
						<td>Manager5</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-container">
			<h3>LCA Filing Alerts</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>LCA Due Date</th>
						<th>Email</th>
						<th>Client</th>
						<th>Account Manager</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Consultant1</a></td>
						<td>12/20/2014</td>
						<td>consultant1@test.com</td>
						<td>Client1</td>
						<td>Manager1</td>
					</tr>
					<tr>
						<td><a href="#">Consultant2</a></td>
						<td>12/20/2014</td>
						<td>consultant2@test.com</td>
						<td>Client2</td>
						<td>Manager2</td>
					</tr>
					<tr>
						<td><a href="#">Consultant3</a></td>
						<td>12/20/2014</td>
						<td>consultant3@test.com</td>
						<td>Client3</td>
						<td>Manager3</td>
					</tr>
					<tr>
						<td><a href="#">Consultant4</a></td>
						<td>12/20/2014</td>
						<td>consultant4@test.com</td>
						<td>Client4</td>
						<td>Manager4</td>
					</tr>
					<tr>
						<td><a href="#">Consultant5</a></td>
						<td>12/20/2014</td>
						<td>consultant5@test.com</td>
						<td>Client5</td>
						<td>Manager5</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-container">
			<h3>Contract End Alerts</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>End Date</th>
						<th>Email</th>
						<th>Client</th>
						<th>Account Manager</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Consultant1</a></td>
						<td>12/20/2014</td>
						<td>consultant1@test.com</td>
						<td>Client1</td>
						<td>Manager1</td>
					</tr>
					<tr>
						<td><a href="#">Consultant2</a></td>
						<td>12/20/2014</td>
						<td>consultant2@test.com</td>
						<td>Client2</td>
						<td>Manager2</td>
					</tr>
					<tr>
						<td><a href="#">Consultant3</a></td>
						<td>12/20/2014</td>
						<td>consultant3@test.com</td>
						<td>Client3</td>
						<td>Manager3</td>
					</tr>
					<tr>
						<td><a href="#">Consultant4</a></td>
						<td>12/20/2014</td>
						<td>consultant4@test.com</td>
						<td>Client4</td>
						<td>Manager4</td>
					</tr>
					<tr>
						<td><a href="#">Consultant5</a></td>
						<td>12/20/2014</td>
						<td>consultant5@test.com</td>
						<td>Client5</td>
						<td>Manager5</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="../external/jquery/jquery-2.1.3.min.js"></script>
	<script src="../external/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/ams-main.js"></script>
</body>
</html>