<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Consultant</title>
	<link href="../external/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all" />
	<link href="../external/bootstrap/css/social-buttons.css" rel="stylesheet" media="all" />
    <link href="../external/bootstrap/css/font-awesome.css" rel="stylesheet">
	<link href="../css/ams.main.css" rel="stylesheet" media="all" />
	
</head>
<body>
	<img src="../images/consultants.jpg" width="100%">
	
	
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SVATS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Services <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Whats Next?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#myModal" href="#">Login</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search-btn" type="submit" class="btn btn-default">Go</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
	
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../images/1.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="../images/2.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="../images/3.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="../images/4.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="../images/5.jpg" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

	<div class="section-content container">
			<div class="sub-title">Who We Are</div>
			<div class="sub-content">
				Lorem ipsum dolor sit amet, eu vis nisl dictas moderatius. Ex illum doming consectetuer quo, cu quodsi quaeque sed. Ea duo simul apeirian. Lorem facete sapientem eum ea, erat errem adipiscing at cum. Eam ad augue prodesset adipiscing, est id mutat inani novum. At iusto erroribus est, sed dicta vitae partiendo ea.Dicant minimum eos ad. Et sed iusto dissentiet. Debet aperiam te qui. Ea zril tractatos scripserit has. Mei modo temporibus cu.Sonet putant inimicus at eum, pri ei verear facilisis definiebas. Iudico soluta civibus ad per, ei augue semper petentium vim. Sea no tale aeterno volumus. Et mel iuvaret ullamcorper vituperatoribus. Id autem omittantur nam, mei ei omnis salutandi, ullum maiestatis constituam mea eu. Mei ne tale propriae honestatis, ius et graece commodo laoreet, sed ne meis dolore civibus.
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="sub-title">Sub Title 1</div>
					<div class="sub-content">Vis ad indoctum salutatus consetetur, eros eloquentiam signiferumque vim an. Ei per delenit recteque electram, est sale assentior reprimique cu. In cum augue assentior, mei te illum libris. Mea adhuc dicit an, usu oportere elaboraret scriptorem et. Offendit ponderum torquatos duo an, sit id enim dissentias.In vim facete laoreet adipiscing, oratio nonumy saperet te nec. Cum in detraxit recusabo, mei no idque oratio. Quo diceret salutandi forensibus in. Et qui viderer apeirian, sint fierent salutatus mea ex, vix ut nulla libris diceret.</div>
				</div>
				<div class="col-md-6">
					<div class="sub-title">Sub Title 1</div>
					<div class="sub-content">Quo et nisl oratio antiopam, ut probo utinam qui. Ius solum delicata an, mea alia feugait nostrum at, sint dolorum per ea. Erat docendi quaerendum mei no, cu has quis blandit dissentiet, eam at regione scribentur. Ne tale admodum senserit sit. Cum cu summo denique disputationi.Has et nibh officiis, his in tota quidam. An eum enim appareat, ius no solet consequat. Atqui commodo noluisse duo ut, quis accumsan voluptua vim no. Ne quo nulla tempor, odio atqui fierent per at. Brute legendos et ius. Munere essent te pro, ei eum appareat conceptam.</div>
				</div>
			</div>
		</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Login</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">Username:</label>
	            <input type="text" class="form-control" id="recipient-name">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">Password:</label>
	            <input type="password" class="form-control" id="message-text"></textarea>
	          </div>
	        </form>
	        <a href="#">Forgot password?</a>
	      </div>
	      <div class="modal-footer">
	        <a href="#" id="login-btn" class="btn btn-default">Login</a>
	        <a href="#" class="btn btn-success">Create new account</a>
	      </div>
	    </div>
	  </div>
	</div>
	<footer>
		<div class="container">
			<div align="center">&copy;Copyright by SVATS. All Rights Reserved.</div>
			<div align="center">
			<a class="btn btn-social-icon btn-adn"><i class="fa fa-adn">adn</i></a>
			<a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
			<a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
			<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
			<a class="btn btn-social-icon btn-foursquare"><i class="fa fa-foursquare"></i></a>
			<a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
			<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
			<a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
			<a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
			<a class="btn btn-social-icon btn-microsoft"><i class="fa fa-windows"></i></a>
			<a class="btn btn-social-icon btn-openid"><i class="fa fa-openid"></i></a>
			<a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
			<a class="btn btn-social-icon btn-reddit"><i class="fa fa-reddit"></i></a>
			<a class="btn btn-social-icon btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
			<a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
			<a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-social-icon btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
			<a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
			<a class="btn btn-social-icon btn-yahoo"><i class="fa fa-yahoo"></i></a>
			</div>
		</div>
	</footer>
	<script src="../external/jquery/jquery-2.1.3.min.js"></script>
	<script src="../external/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/ams-main.js"></script>
</body>
</html>