<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../external/bootstrap/css/social-buttons.css" rel="stylesheet" media="all" />
    	<link href="../external/bootstrap/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/ams.main.css">
		<title>LCA</title>
	</head>
	<body>
	<img src="../images/consultants.jpg" width="100%">
		<BR/>
		<ul class="nav nav-tabs">
		  	<li><a href="dashboard.html">Dash Board</a></li>
		  	<li><a href="associate.html">Personal</a></li>
		  	<li><a href="education.html">Education</a></li>
		  	<li><a href="experience.html">Experience</a></li>
		  	<li><a href="h1.html">H1</a></li>
		  	<li class="active"><a href="lca.html">LCA</a></li>
		  	<li><a href="gc.html">Green Card</a></li>
      
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">Welcome to ABSI</a></li>
	        	<li><a href="#">Logout</a></li>
	      	</ul>
	      	<form class="navbar-form navbar-right" role="search">
	        	<div class="form-group">
	          		<input type="text" class="form-control" placeholder="Search">
	        	</div>
	        	<button type="submit" class="btn btn-default">Go</button>
	      	</form>
		</ul>
		<BR/>
		<table class="table table-bordered table-hover" align="center" style="width: 40%; max-width: 100%;">
		<caption>LCA</caption>
		<tbody>	
			<tr>
				<th><label class="required">:</label></th>
				<td><input></td>
			</tr>
			<tr style="height:1px">
				<td colspan="2"></td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<a class="btn btn-success" href="h1.html" role="button"><-H1</a>
					<input type="button" class="btn btn-success" value="Save">
					<a class="btn btn-success" href="gc.html" role="button">Green Card-></a>
				</td>
			</tr>
		</tbody>
		</table>
	<footer>
		<div class="container">
			<div align="center">&copy;Copyright by SVATS. All Rights Reserved.</div>
			<div align="center">
			<a class="btn btn-social-icon btn-adn"><i class="fa fa-adn">adn</i></a>
			<a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
			<a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
			<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
			<a class="btn btn-social-icon btn-foursquare"><i class="fa fa-foursquare"></i></a>
			<a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
			<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
			<a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
			<a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
			<a class="btn btn-social-icon btn-microsoft"><i class="fa fa-windows"></i></a>
			<a class="btn btn-social-icon btn-openid"><i class="fa fa-openid"></i></a>
			<a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
			<a class="btn btn-social-icon btn-reddit"><i class="fa fa-reddit"></i></a>
			<a class="btn btn-social-icon btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
			<a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
			<a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-social-icon btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
			<a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
			<a class="btn btn-social-icon btn-yahoo"><i class="fa fa-yahoo"></i></a>
			</div>
		</div>
	</footer>
	</body>
</html>