<!DOCTYPE html>
<html>
	<hrad>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/ams.main.css">
		<title>LCA</title>
	</hrad>
	<body>
		<BR>
		<table class="table table-bordered table-hover" align="center" style="width: 40%; max-width: 100%;">
		<caption>LCA</caption>
		<tbody>	
			<tr>
				<th><label class="required">:</label></th>
				<td><input></td>
			</tr>
			<tr style="height:1px">
				<td colspan="2"></td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<a class="btn btn-success" href="h1.html" role="button"><-H1</a>
					<input type="button" class="btn btn-success" value="Save">
					<a class="btn btn-success" href="gc.html" role="button">Green Card-></a>
				</td>
			</tr>
		</tbody>
		</table>
	</body>
</html>