/* Bootstrap overrides */
.table-striped>tbody>tr:nth-child(odd) {
	background-color: #F3FCED;
}
.table>thead>tr {
	background-color: #9EC871;
	color: #FFF;
}
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
	border: 1px solid #DDEFD1;
}

header {
  position: fixed;
  width: 100%;
  background-color: #10222B;
  height: 55px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
  z-index: 1000;
}
header a {
  color: #fff;
  text-decoration: none;
  line-height: 55px;
}
header nav {
  float: right; 
  position: relative;
  line-height: 55px;
}
header nav > a {
  margin-left: 5px;
}
header nav .signin,
header nav .signin:focus {
  color: #fff;
  border-color: #fff;
  outline: none;
}
header nav .signin:hover {
  color: #333;
  background-color: #fff;
}
header nav .dropdown-menu {
  right: 0;
  left: auto;
  margin: 0;
}
header nav .dropdown-menu:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #eee;
  bottom: 62px;
  right: 10px;
}
.dropdown-menu>li>a {
  padding: 3px 10px;
}
.dropdown-menu>li>a span {
  padding-right: 5px;
}
#profile, #profile:focus {
  padding: 5px 8px;
  border: 1px solid #000;
  outline: none;
  color: #000;
}
#profile:hover {
  background-color: #000;
  color: #333;
}
#banner {
  background-color: #eee;
  height: 121px;
}
.section-content {
	min-height: 400px;
	padding-top: 40px;
}
.section-content .sub-title{
	font-size: 1.5em;
	font-weight: bold;
}
.section-content .sub-sub-title {
	font-weight: bold;
	color: #666;
	padding-bottom: 8px;
}
.section-content .service-title .sub-title {
	line-height: 1.2;
	padding-top: 5px;
}
.section-content .sub-content{
	padding: 10px 0 50px 0;
}
#main-content {
	min-height: 600px;
	padding-top: 75px;
}
.table-container {
	padding-bottom: 20px;
}
.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}
/* tab color */
.nav-tabs>li>a {
  background-color: #333333; 
  border-color: #777777;
  color:#fff;
}
/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #666;
  border: 1px solid #888888;
}
/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}
footer {
	height: 50px;
	line-height: 50px;
	background-color: #10222B;
	color: #fff;
}