/* Bootstrap overrides */
.table-striped>tbody>tr:nth-child(odd) {
	background-color: #F3FCED;
}
.table>thead>tr {
	background-color: #9EC871;
	color: #FFF;
}
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
	border: 1px solid #DDEFD1;
}
.dropdown-menu.profile-dropdown {
  right: 30px;
  left: auto;
  margin: 0;
}
.dropdown-menu.profile-dropdown:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  bottom: 62px;
  right: 10px;
}
.dropdown-menu.profile-dropdown>li>a {
  padding: 3px 10px;
}
.dropdown-menu.profile-dropdown>li>a span {
  padding-right: 5px;
}
#profile {
  float: right;
  margin-left: 15px;
  padding: 9px 0;
}
#profile a, #profile a:focus {
  padding: 5px 8px;
  border: 1px solid #CCC;
  outline: none;
  color: #666;
  background-color: #FFF;
}
#profile a:hover {
  background-color: #E6E6E6;
  color: #333;
}
#banner {
  background-color: #eee;
  height: 121px;
}
.section-content {
	min-height: 400px;
	padding-top: 40px;
}
.section-content .sub-title{
	font-size: 1.5em;
	font-weight: bold;
}
.section-content .sub-sub-title {
	font-weight: bold;
	color: #666;
	padding-bottom: 8px;
}
.section-content .service-title .sub-title {
	line-height: 1.2;
	padding-top: 5px;
}
.section-content .sub-content{
	padding: 10px 0 50px 0;
}
#main-content {
	min-height: 100px;
}
.table-container {
	padding-bottom: 20px;
}
.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}
/* tab color */
.nav-tabs>li>a {
  background-color: #333333; 
  border-color: #777777;
  color:#fff;
}
/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #666;
  border: 1px solid #888888;
}
/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}
footer {
	height: 50px;
	line-height: 50px;
	background-color: #10222B;
	color: #fff;
}